*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
body {
    background: #fff;
}

html {
    font-size: 16px;
}


header {
    display: flex;
    padding: 1.25rem 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 936px;
    border-bottom: 1px solid rgba(95, 104, 112, 0.322);
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    column-gap: 1rem;
    align-content: center;
    position: relative;
}

nav ul li a {
    color: #212529;
    text-decoration: none;
    border-radius: .5rem;
    transition: color .2s, background .2s;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    -webkit-transition: color .2s, background .2s;
    -moz-transition: color .2s, background .2s;
    -ms-transition: color .2s, background .2s;
    -o-transition: color .2s, background .2s;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo-header {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-size: 1.5rem;
}

.logo-header i  {
    font-size: 2rem;
}

.nav-button {
    width: 100%;
    min-width: 45px;
    max-width: 45px;
    display: none;
    flex-direction: column;
    border: 2px solid #212529d8;
    padding: .5rem;
    background: #fff;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    cursor: pointer;
    -o-border-radius: .3rem;
}

.button-line {
    background: #212529;
    border-radius: .2rem;
    height: 1.5px;
    width: 100%;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}

.button-line:nth-child(2){
    margin: .4rem 0;
}

.main-content {
    width: 100%;
    padding: 3rem 1.5rem;
}

.main-content>div {
    width: 100%;
    max-width: 668px;
    margin: 0 auto;
    text-align: center;
}

.main-content h1 {
    font-weight: 400;
    font-size: 3.5rem;
    color: #212529;
}

.table-container {
    min-width: 700px
}

.div-table {
    overflow: auto;
    margin: 0 2rem;
}

.main-content p {
    font-size: 1.25rem;
    color: #6c757d;
    line-height: 1.5;
}

.cards {
    width: 100%;
    background: #fff;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.158);
    transition: translate .3s,box-shadow .3s, border .3s;
    -webkit-transition: translate .3s,box-shadow .3s, border .3s;
    -moz-transition: translate .3s,box-shadow .3s, border .3s;
    -ms-transition: translate .3s,box-shadow .3s, border .3s;
    -o-transition: translate .3s,box-shadow .3s, border .3s;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 2rem;
    position: relative;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 1rem;

}

.cards-container~h2 {
    margin-top: 3rem;
}

.cards p{
    display: flex;
    width: 100%;
    padding: 15px;
    font-size: 25px;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #212529;
    border-radius: 5px 5px 0 0;
    background: #88000008;
}

.cards:hover p {
    background: #0d6efd;
    color: #fff;
}

@media screen and (min-width: 1000px) {  
    .cards:hover {
        translate: 0 -20px;
    }
    
}

.info-card {
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
}

.info-card-small {
    color: #6c757d;
    font-weight: lighter;
}

.info-card h1 {
    width: 100%;
    margin: 0 0 8px;
    text-align: center;
    font-weight: 500;
}

.info-card ul {
    list-style: none;
    padding: 16px 0;
    margin-bottom: 5px;
}

.info-card ul li {
    text-align: center;
    line-height: 1.5;
}

.info-card button {
    width: 100%;
    padding: 8px 16px;
    font-size: 20px;
    color: #0d6efd;
    background: #fff;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    cursor: pointer;
    transition: background .2s, color .2s;
    -webkit-transition: background .2s, color .2s;
    -moz-transition: background .2s, color .2s;
    -ms-transition: background .2s, color .2s;
    -o-transition: background .2s, color .2s;
}

.info-card button:hover {
    background: #0d6efd;
    color: #fff;
}

.cards:hover {
    border: 1px solid #0d6efd;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.048);
}

main h2{
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 20px;
}

table {
    width: 68vw;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 8vh;
}

td{
    border-bottom: 1px solid #6c757d41;
    padding: 8px 30px;
    text-align: center;
}

th{
    border-bottom: 1px solid #6c757d41;
    padding: 10px 10px;
    text-align: left;
}

.table-row1{
    border-top: 2px solid black;
}

.table-row2 {
    border-bottom: 2px solid #000;
}
.head-row {
    padding: 10px 0;
    text-align: center;
}

body table tr td {
    color: #000;
    font-weight: 500;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    max-width: 1000px;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 1.5rem;
    margin-bottom: 10vh;
}

.footer-target{
    width: 100%;
}

.footer-target h5 {
    font-size: 1.2rem;
    margin: 0 0 8px;
    color: #212529;
}

.footer-target ul {
    list-style: none;
}

.footer-target ul li a:hover {
    text-decoration: underline;
}

.footer-target ul li a {
    line-height: 1.8;
    text-decoration: none;
    color: #6c757db4;
}

.footer-targe i {
    font-size: 2rem;
    margin-bottom: .5rem;
    display: block;
}

.footer-targe p {
    font-size: .9rem;
    color: #6c757db4;
}


@media screen and (max-width: 850px) {
    .cards-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .main-content p {
        font-size: 1rem;
    }

    .cards:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (max-width: 650px) {
    .cards-container {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .main-content h1 {
        font-size: 2.6rem;
    }

    .footer-target h5 {
        font-size: 1rem;
    }
    
    .footer-targe p {
        font-size: .7rem;
    }

    .footer-target ul li a {
        font-size: .9rem;
    }

    .nav-button {
        display: flex;
    }

    
    .footer {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 10vh;
    }

    nav ul {
        display: none;
    }

    .main-content p {
        font-size: .8rem;
    }

    .cards:nth-child(3){
        grid-column-start: auto;
        grid-column-end: auto;
    }

    .cards {
        max-width: 350px;
        margin: 0 auto;
    }
}